* {
  font-family: 'Inter';
}
body {
  background:#23252c;
  display: flex;
  justify-content: center;
  
}

.cardBody {
  width: 325px;
  box-sizing: border-box;
  background: #1A1B21;
  color: white;
  min-width: 325px;
  
}

.proPic {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.info--essential > h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center; 
}
.info--essential > h3, .info--essential > h4 {
  font-weight: 400;
}
.info--essential > h3 {
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F3BF99;
}

.info--essential > h4 {
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.info--buttons-container {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-top: 15px;
}
.info--button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  font-weight: 500;
}
.info--button.email {
  background: #FFFFFF;
  border: 1px solid #D1D5DB;  
  color: #374151;
}
.info--button.linkedin {
  background: #5093E2;
}

.about--container, .interests--container {
  margin-top: 33px;
  padding: 0 36px;
}

.about--header, .interests--header {
  font-size: 16px;
  line-height: 150%;
}

.about--p , .interests--p{
  font-size: 10.24px;
  line-height: 150%;
}

.footer--container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #161619;
  height: 64px;
  align-items: center;
  margin-top: 24px;
}